<section class="loginpage">
    <h1 style="margin-bottom:10px;">Login</h1>
    <p style="margin-bottom:15px;">Welcome back</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="tel" maxlength="10" placeholder="+91 XXXXXXXXXX" formControlName="mobile">
            @if(loginForm.get('mobile')?.hasError('required')){
                <mat-error>Mobile number required</mat-error>
            }
            @if(loginForm.get('mobile')?.hasError('pattern')){
                <mat-error>Invalid mobile number</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter Password" formControlName="password">
            <button mat-button matSuffix (click)="hidePassword=!hidePassword"><mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            @if(loginForm.get('password')?.hasError('required')){
                <mat-error>Password required</mat-error>
            }
            @if(loginForm.get('password')?.hasError('minlength')){
                <mat-error>Minimum 6 characters</mat-error>
            }
        </mat-form-field>

        <div class="forgot-password"><a routerLink="/forgot-password">Forgot Password?</a></div>
        <button mat-raised-button color="primary" class="login-btn">Login</button>
    </form>
    <div class="register-link">Don't have an account?<a routerLink="/signup">Register</a></div>
</section>